<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Secundario</h2> - <h3>(2015-2020)</h3> - <h3>(about)</h3>
            </li>
            <h6>Juan Zorrilla de San Martin | Bachillerato en Economía y Gestión </h6>
        </ul>
        <ul>
            <li>
                <h2>Universidad</h2> - <h3>(2021-tday)</h3> - <h3>(about)</h3>
            </li>
            <h6>Universidad Tecnológica Nacional | Ingeniería en Sistemas de Información | 2° Año</h6>
        </ul>
        <ul>
            <li>
                <h2>Cursos y complementos</h2> - <h3>(2020-tday)</h3> - <h3>(about)</h3>
            </li>
            <h6>First Certificate Exam (FCE) Level B2 | Cambridge First Certificate</h6>
            <h6>Certificado MicroMódulo Tecnologías Blockchain | Universidad Tecnológica Nacional</h6>
            <h6>Certificado Curso Bitcoin & Blockchain | Platzi</h6>
            <h6>Certificado Curso Economía Digital: Bitcoin y Criptomonedas | Platzi</h6>
            <h6>Certificado Curso Introducción a Solidity | Platzi</h6>
        </ul>
    </div>
</div>

