<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-info" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>


    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreE}}</td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged"><button type="button" class="btn btn-light"
                            routerLink="/editedu/{{Educacion.id}}">EDITAR</button></td>
                    <td *ngIf="isLogged"><button type="button" class="btn btn-danger"
                            (click)="delete(Educacion.id)">BORRAR</button>
                </tr>
            </tbody>
        </table>
    </div>


</div>

