<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg7 parte1">
            <h2>Proyecto Final Argentina Programa</h2>
            <p>Este proyecto consistio en el desarrollo de un portfolio web, realizando procesos de Frontend y Backend. 
                Implementando interaccion de botones para edicion y eliminacion de contenido. Durante siete meses estudie tanto teoria como practica para poder cumplir mi objetivo
            de ser desarrollador Web Fullstack Junior.</p>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-4 parte2">
            <img src="../../../assets/WhatsApp Image 2022-11-14 at 6.36.12 PM.jpeg" class="img-fluid img-proyecto" alt="" style="display: right;">
        </div>
        <div class="col-sm-12 col-md-7 col-lg7 parte1">
            <h2>Proyecto Registro Ventas y Sueldos</h2>
            <p>Desarrollado en Pycharm, este proyecto consiste en un script de lenguaje Python el cual utilizo en mi trabajo para llevar un correcto registro y analisis de las ventas.
                Implementando declaracion de variables, funciones, leectura y escritura de archivos, logre sistematizar un trabajo el cual antes hacia a mano y papel.
            </p>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-4 parte3">
            <img src="../../../assets/WhatsApp Image 2022-11-15 at 5.22.48 PM.jpeg" class="img-fluid img-proyecto" alt="" style="display: right;">
        </div>

    </div>
</div>