.row{
    padding: 20px;
    
}
.contenedor{
    width: auto;
}
.parte1{
    display: inline-block;
    text-align: justify;
}
.parte2{
    justify-content: left;
}
.img-proyecto {
    margin-top: -240px;
    display: auto;
    margin-left: 1230px;
    box-shadow: 10px 10px 30px #648EAA;
  }