<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Portfolio Web</h3>
                <p>Este proyecto consiste en el desarrollo de un portfolio web, realizando procesos de Frontend y Backend. 
                    Implementando interaccion de botones para edicion y eliminacion de contenido. Durante siete meses estudie tanto teoria como practica para poder cumplir mi objetivo
                de ser desarrollador Web Fullstack Junior.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/WhatsApp Image 2022-11-14 at 6.36.12 PM.jpeg" class="img-fluid img-proyecto" >
            </div>
        </div>
        <br>
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Proyecto Registro Ventas y Sueldos</h3>
                <p>Desarrollado en Pycharm, este proyecto consiste en un script de lenguaje Python el cual utilizo en mi trabajo para llevar un correcto registro y analisis de las ventas.
                    Implementando declaracion de variables, funciones, lectura y escritura de archivos, logre sistematizar un trabajo el cual antes hacia con lapiz y papel.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/WhatsApp Image 2022-11-15 at 5.22.48 PM.jpeg" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>