<div class="row">

    <h1 style="text-align: center;">Hard&Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress 
            [percent]="skill.porcentaje" 
            [radius]="100" [title]="skill.nombre"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="''" 
            [showImage]="false" 
            [showTitle]="true"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="80" 
            [imageWidth]="80"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'lightblue'"
            [innerStrokeColor]="'lightblue'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        <div>
            <circle-progress 
            [percent]="70" 
            [radius]="100" [title]="''"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="'../../../assets/html.png'" 
            [showImage]="true" 
            [showTitle]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="80" 
            [imageWidth]="80"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'darkorange'"
            [innerStrokeColor]="'darkorange'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        <circle-progress 
            [percent]="70" 
            [radius]="100" [title]="''"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="'../../../assets/css-logo.webp'" 
            [showImage]="true" 
            [showTitle]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="80" 
            [imageWidth]="80"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        <circle-progress 
            [percent]="70" 
            [radius]="100" [title]="''"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="'../../../assets/js.png'" 
            [showImage]="true" 
            [showTitle]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="90" 
            [imageWidth]="90"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'yellow'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        <circle-progress 
            [percent]="70" 
            [radius]="100" [title]="''"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="'../../../assets/python.png'" 
            [showImage]="true" 
            [showTitle]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="80" 
            [imageWidth]="80"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'green'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        <circle-progress 
            [percent]="70" 
            [radius]="100" [title]="''"
            [titleFontSize]="'1.5em'" 
            [imageSrc]="'../../../assets/angular-icon.png'" 
            [showImage]="true" 
            [showTitle]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [imageHeight]="80" 
            [imageWidth]="80"
            [showUnits]="false" 
            [outerStrokeWidth]="14" 
            [innerStrokeWidth]="5" 
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'red'" 
            [animation]="true" 
            [animationDuration]="750">
        </circle-progress>
        </div>
        
        
        <div>
            <td *ngIf="isLogged">
                <button type="button" class="btn btn-light"
                        routerLink="/editskill/{{skill.id}}">EDITAR</button>
            </td>
            <td *ngIf="isLogged">
                <button type="button" class="btn btn-danger"
                        (click)="delete(skill.id)">BORRAR</button>
            </td>
        </div>
    </div>
</div>